.password {
  background-color: var(--clr-home-pg);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.password:hover {
  background-color: var(--clr-home-pg-light);
}

.password__img {
  width: 40px;
}

.password__description {
  font-size: var(--fs-350);
  font-weight: var(--fw-300);
  color: var(--clr-white);
}
