.password {
  background-color: var(--clr-home-pg);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.password:hover {
  background-color: var(--clr-home-pg-light);
}

.password__img {
  width: 35px;
}

.password__description {
  font-size: var(--fs-350);
  font-weight: var(--fw-300);
  color: var(--clr-white);
  flex: 1;
  text-align: left;
  max-width: 22ch;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

/* Xs */
/* @media (min-width: 475px) {} */

/* Sm */
/* @media (min-width: 640px) {} */

/* Md */
/* @media (min-width: 768px) {} */

/* Lg */
/* @media (min-width: 1024px) {} */

/* Xl */
/* @media (min-width: 1280px) {} */

/* 2Xl */
/* @media (min-width: 1440px) {} */
