/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/poppins-v21-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/poppins-v21-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/poppins-v21-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/poppins-v21-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-serif-display-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/dm-serif-display-v15-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* Font-family */
  --ff-primary: "Poppins", sans-serif;
  --ff-title: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* Colors */
  --clr-body-bg: #ecebe0;
  --clr-home-pg: #814141;
  --clr-home-pg-light: #af5757;
  --clr-link: #000;
  --clr-white: #fff;
  --clr-btn-disable: #d3d3d3;
  --clr-error-msg: #b91c1c;

  /* Font-sizes */
  --fs-300: 1rem;
  --fs-350: 1.2rem;
  --fs-400: 1.5rem;
  --fs-450: 1.7rem;
  --fs-500: 2rem;
  --fs-600: 3rem;
  --fs-650: 3.5rem;
  --fs-700: 4rem;
  --fs-800: 5rem;
  --fs-900: 6rem;

  /* Font-weights */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-300);
  background-color: var(--clr-body-bg);
}

html,
body {
  height: 100%;
}

img,
svg,
picture,
canvas,
video {
  display: block;
  max-width: 100%;
}

a {
  display: block;
  text-decoration: none;
}

strong {
  color: var(--clr-home-pg);
  line-height: 0.8;
}

input:invalid {
  box-shadow: none;
}

input:focus:invalid {
  box-shadow: none;
  outline: none;
}
