# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
client/node_modules/
server/node_modules/

# Environment variables
client/.env
client/.env.local
client/.env.*.local
server/.env
server/.env.local
server/.env.*.local

# Build output
client/dist/
server/dist/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?