.loader__element {
  z-index: 99999;
  padding: 1.5rem;
  width: 50px;
  aspect-ratio: 1 / 1;
  border: 8px solid var(--clr-white);
  border-top-color: var(--clr-home-pg);
  border-radius: 50%;
  animation: loading 1s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

/* Xs */
/* @media (min-width: 475px) {} */

/* Sm */
/* @media (min-width: 640px) {} */

/* Md */
/* @media (min-width: 768px) {} */

/* Lg */
/* @media (min-width: 1024px) {} */

/* Xl */
/* @media (min-width: 1280px) {} */

/* 2Xl */
/* @media (min-width: 1440px) {} */
